<ion-view view-title="Parliamentary Candidates">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="content has-header">
            <div class="list animate-fade-slide-in-right">
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="css/kbt.jpg">
                    <div class='myst'>Kobina Tahir Hammond</div>
                    <p style='padding-left:5px;'>Political party:<br/>New Patriotic Party(NPP)</p>
                    <i class="icon"><img class="flag" src="css/npp.jpg"></i>
                </a>
                <a href="#/app/profilef" class="item item-avatar item-icon-right">
                    <img src="css/ae.jpg">
                    <div class='myst'>Amankwah Evans</div>
                    <p>Political party:<br/>National Democratic Congress(NDC)</p>
                    <i class="icon"><img class="flag" src="css/ndc.jpg"></i>
                </a>
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="css/eg.jpg">
                    <div class='myst'>Ernest Gyimah</div>
                    <p style='padding-left:5px;'>Political party:<br/>Progressive People's Party(PPP)</p>
                   <i class="icon"><img class="flag" src="css/ppp.jpg"></i>
                </a>
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="css/fob.jpg">
                    <div class='myst'>Francis Owusu-boamah</div>
                    <p style='padding-left:5px;'>Political party:<br/>Conventions People Party(CPP)</p>
                    <i class="icon"><img class="flag" src="css/cpp.jpg"></i>
                </a>
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="css/ed.jpg">
                    <div class='myst'>Akua Donkor</div>
                    <p>Political party: Ghana Freedom Party(GFP)</p>
                    <i class="icon"><img class="flag" src="css/gfp.jpg"></i>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
<style>
.myst{
color:#e65100;
font-weight:bolder;
font-size: medium;
}
.flag{
max-height:40px;
max-width:60px;
}
</style>
