<ion-view view-title="Profile">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up " style="background-image: url('css/aesminnnnnnn.png');background:#234574;">
		<img src="css/kbt.jpg"  style=' max-height: 200px;'/>
            <div class="content">
                <div class="avatar" style="background-image: url('css/nppbanner.jpg');width: 100px; height: 100px; margin-bottom: -6%; left: 35%;"></div>
                <h3><a class="light"></a></h3>
                <h4></h4>
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.activityyy" class="tab-item">
                <i class="icon ion-arrow-graph-up-right"></i> 
            </a>
            <a ui-sref="app.friendsyy" class="tab-item">
                <i class="icon ion-android-people"></i> 
            </a>
            <a ui-sref="app.galleryyy" class="tab-item">
                <i class="icon ion-images"></i> 
            </a>
        </div>
        <!--<h4 class="content padding double-padding-x"> </h4>-->
        <div class="list animate-fade-slide-in-right;" style="color:#23446e; font-size:18px; font-family: cursive; padding:5%;">
            Kobina Tahir Hammon is a lawyer and a Member of Parliament for Adansi-Asokwa in the Ashanti Region of Ghana. He holds a BA in Law and Political Science from the University of Ghana and a Bachelor of Laws from Grays Inn, London, UK.
Born: June 16, 1960 (age 56), Asokwa
        </div>
    </ion-content>
</ion-view>
