<ion-view view-title="Profile">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up avatar" style="background-image: url('css/aesminnnnnnn.png');background:#d2d3cb;">
		<img src="css/aesmall.jpg"  style=' max-height: 300px;'/>
            <div class="content">
                <div class="avatar" style="background-image: url('css/ndcbanner.jpg');width: 100px; height: 100px; margin-bottom: -6%; left: 35%;"></div>
                <h3><a class="light"></a></h3>
                <h4></h4>
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.activityyy" class="tab-item">
                <i class="icon ion-arrow-graph-up-right"></i> 
            </a>
            <a ui-sref="app.friendsyy" class="tab-item">
                <i class="icon ion-android-people"></i> 
            </a>
            <a ui-sref="app.galleryyy" class="tab-item">
                <i class="icon ion-images"></i> 
            </a>
        </div>
        <!--<h4 class="content padding double-padding-x"> </h4>-->
        <div class="list animate-fade-slide-in-right;" style="color:#23446e; font-size:18px; font-family: cursive; padding:5%;">
            A Kumasi-based businessman and 2004 parliamentary candidate, Mr Evans Amankwah, has filed his nomination to contest the upcoming parliamentary primary of the National Democratic Congress (NDC) in the Adansi Asokwa Constituency of the Ashanti Region
        </div>
    </ion-content>
</ion-view>
